body{
	min-width: 1000px;
	font-family: sans-serif;
}
.WITKIT_logo img{
	background-color: white;
	border: 10px solid white;
	border-radius: 10px;
}
.WITKIT_logo{
	background-color: #143444;
	text-align: center;
	padding: 60px;
}
.banner_backgcolor{
	/*background: -moz-linear-gradient(to left,#FFF,#143444 50%,#FFF); 
	background: -webkit-linear-gradient(to left,#FFF,#143444 50%,#FFF); 
	background: linear-gradient(to left,#FFF,#143444 50%,#FFF); */
	background-color: #143444;
	margin: 5px auto;
}
.banner{
	width: 900px;
	height: 65px;
	margin: 0px auto;
	padding: 20px 40px;
}
.ask_question{
	background-color: #143444;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	text-align: center;
	float: left;
	width: 150px;
	margin: 0 5px;
	padding: 20px 30px;
	transition: all 0.5s;
}
.ask_question:hover{
	background-color: #3483aa;
}
.question_list{
	background-color: #143444;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	text-align: center;
	float: left;
	width: 150px;
	margin: 0 5px;
	padding: 20px 30px;
	transition: all 0.5s;
}
.question_list:hover{
	background-color: #3483aa;
}
.edit_profile{
	background-color: #143444;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	text-align: center;
	float: left;
	width: 150px;
	margin: 0 5px;
	padding: 20px 30px;
	transition: all 0.5s;
}
.edit_profile:hover{
	background-color: #3483aa;
}
.logout{
	background-color: #143444;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	text-align: center;
	float: left;
	width: 150px;
	margin: 0 5px;
	padding: 20px 30px;
	transition: all 0.5s;
}
.logout:hover{
	background-color: #3483aa;
}
.lower{
	background-color: #143444;
	margin-top: 5px;
	padding: 60px;
}
.question_container{
	background-color: white;
	border: 2px solid lightgrey;
	border-radius: 10px;
	width: 600px;
	margin: 20px auto;
	padding: 30px;
	word-wrap: break-word;
}
.arrow{
	text-align: center;
}
textarea{
	text-align: center;
}
.answers{
	background-color: white;
	border: 2px solid lightgrey;
	border-radius: 10px;
	width: 600px;
	margin: 20px auto;
	padding: 30px;
}
.no_answers{
	background-color: white;
	border: 2px solid lightgrey;
	border-radius: 10px;
	text-align: center;
	width: 400px;
	margin: 20px auto;
	padding: 30px;
}
.answer_container{
	background-color: white;
	border: 2px solid lightgrey;
	border-radius: 10px;
	width: 600px;
	margin: 20px auto;
	padding: 30px;
}
textarea{
	width: 600px;
	height: 200px;
	resize: vertical;
}
.answer_box{
	text-align: center;
}
.buttons{
	text-align: center;
}
.submit_button{
	color: white;
	background-color: #143444;
	border: 2px solid white;
	border-radius: 4px;
	width: 60px;
	margin: 5px;
	transition: all 0.5s;
}
.submit_button:hover{
	background-color: #3483aa;
}
.home_button{
	color: white;
	background-color: #143444;
	border: 2px solid white;
	border-radius: 4px;
	width: 60px;
	margin: 5px;
	transition: all 0.5s;
}
.home_button:hover{
	background-color: #3483aa;
}

